body{
    margin: 0;
}
.IN{
    transition: all ease 1s;
}
.IN:hover {
    background: linear-gradient(45deg, #e6cd3c, #ff8b0f, #dc2743, #cc2366, #bc1888) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    scale: 1.2;
}